@font-face {
  font-family: "Manrope";
  src: url("../assets/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anton";
  src: url("../assets/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#mainImg {
  background-image: url(../assets/Logo.jpg);
}

@layer utilities {
  .flex-between-center {
    @apply flex items-center justify-center;
  }
}

/* Masquer la barre de défilement */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chevron-active {
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

.infos-active {
  display: block;
}

i {
  cursor: pointer;
}

li {
  padding-left: 16px;
}

.container-cative {
  margin-top: 300px;
}

.innactive {
  display: none;
}